body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; 
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
}


#films {
    list-style: auto;
    width: 250px;
    background: #222;
    border-radius: 8px;
    padding: 15px; 
    color: white;
    max-height: 500px; 
    overflow-y: auto; 
}

#films li {
    width: 250px;
    background: #222;
    border-radius: 8px;
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
}

#films li:hover {
    background: #333;
}

#films .sold-out {
    color: gray;
    text-decoration: line-through;
    pointer-events: none;
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background: #222;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.movie-details img {
    width: 40%; 
    max-width: 200px; 
    border-radius: 8px;
    margin-left: 20px; 
}

.movie-details h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.movie-details p {
    margin: 9px 0;
    font-size: 1rem;
    color: #bbb;
}

button {
    background: #ff4500;
    color: white;
    border: none;
    padding: 12px 15px; 
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    margin-top: 10px; 
}

button:hover {
    background: #e03e00;
}

button.sold-out {
    background: gray;
    cursor: not-allowed;
    opacity: 0.7;
}
.main-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.movie-list{
    width: 250px;
    max-height: 400px;
    overflow-y: auto;
}
.movie-list button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
}
.movie-poster{
    max-height: 100%;
    height: auto;
}

#poster {
    width: 40%;
    max-width: 250px;
    border-radius: 8px;
    margin-left: 0px;
}